.pagination-container  {
  display: flex;
  justify-content: center;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #2a2a2a;
  border-color: #2a2a2a;
}

/* Container for the layout */
.products-layout {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Space between filter and products */
}

/* Filter container on the left side */
.filter-container {
  flex: 0 0 250px; /* Set width for the filter section */
  padding: 1rem;
  background-color: #f4f4f4; /* Optional background color for the filter */
  border-radius: 8px;
}

/* Product container on the right side */
.products-container {
  flex: 1; /* Products take up the rest of the space */
}

/* Pagination container */
.pagination-container {
  text-align: center;
  margin-top: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .products-layout {
    flex-direction: column;
    align-items: center;
  }

  .filter-container {
    width: 100%; /* Make the filter section full-width on smaller screens */
    margin-bottom: 1rem;
  }
}
